<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <p>{{message}}</p>
    <canvas ref="canvas" style="border: 1px solid #F7F9FB;"></canvas>
    <form>
      <div>
        <label for="name">name</label>
        <input id="name" type="text" v-model="form.name">
      </div>
      <div>
        <label for="phone">phone</label>
        <input id="phone" type="number" v-model="form.phone">
      </div>
    </form>
    <p><img :src="dataURL" alt=""></p>
  </div>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="./js/all.js"></script>
</body>
</html>